---
const { title, description } = Astro.props;
import { branding } from "../config/branding";
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content={description} />
  <title>{title} | {branding.clinicName}</title>
  <slot name="head" />
  <link rel="icon" type="image/png" href={branding.favicon} sizes="32x32" />
  <link rel="shortcut icon" href={branding.favicon} />
  <link rel="stylesheet" href="/src/styles/global.css">
</head>
<body>
  <slot />
</body>
</html>
